apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prefect-server-
resources:
  - ../../base
patchesStrategicMerge:
  - sts-patch.yaml
configMapGenerator:
  - name: postgresql-initdb
    files:
      - init-hasura-db.sql
