apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nfd
  namespace: kube-system
spec:
  repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
  chart: node-feature-discovery
  targetNamespace: kube-system
  version: 0.17.1
  helmVersion: v3
  bootstrap: false
  failurePolicy: abort
