(mautrix) {
	@isMautrixWellKnown path /.well-known/matrix/mautrix
	handle @isMautrixWellKnown {
		header Content-Type application/json
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, OPTIONS"
		header Access-Control-Allow-Headers "Origin, Content-Type, Accept"
		header Access-Control-Max-Age "86400"
		respond `{"fi.mau.bridges":["https://matrix-discord.taila659a.ts.net","https://matrix-googlechat.taila659a.ts.net","https://matrix-linkedin.taila659a.ts.net","https://matrix-meta.taila659a.ts.net","https://matrix-signal.taila659a.ts.net","https://matrix-slack.taila659a.ts.net","https://matrix-twitter.taila659a.ts.net","https://matrix-whatsapp.taila659a.ts.net"]}` 200
	}
}

(matrix-discord-media) {
	@isDiscordDirectMediaApi path /.well-known/matrix/server /_matrix/federation/v1/media/download/* /_matrix/client/v1/media/* /_matrix/media/* /_matrix/key/* /_matrix/federation/v1/version
	handle @isDiscordDirectMediaApi {
		reverse_proxy http://matrix-discord:29334
	}
}

(matrix-funnel) {
	import mautrix
	@matrixClient path /_matrix/* /_synapse/client/*
	handle @matrixClient {
		reverse_proxy https://matrix:8448 {
			transport http {
				tls_server_name matrix
			}
		}
	}
	handle {
		respond 404
	}
}

(matrix) {
	import mautrix
	@matrixClient path /_matrix/* /_synapse/client/*
	handle @matrixClient {
		reverse_proxy https://matrix:8448 {
			transport http {
				tls_server_name matrix
			}
		}
	}
	handle {
		respond 404
	}
}

:8008 {
	log
	@isDiscordDirectMedia host matrix-discord-media.taila659a.ts.net
	handle @isDiscordDirectMedia {
		import matrix-discord-media
	}
	@isFunnel header Tailscale-Funnel-Request ?1
	handle @isFunnel {
		import matrix-funnel
	}
	handle {
		import matrix
	}
}

:8448 {
	tls /etc/ssl/private/tls.crt /etc/ssl/private/tls.key
	log
	@isDiscordDirectMedia host matrix-discord-media.taila659a.ts.net
	handle @isDiscordDirectMedia {
		import matrix-discord-media
	}
	@isFunnel header Tailscale-Funnel-Request ?1
	handle @isFunnel {
		import matrix-funnel
	}
	handle {
		import matrix
	}
}
