apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
components:
  - ../../components/tls
configurations:
  - namereference.yaml
patches:
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - whisparr/.env
    name: whisparr-pkcs12-password
  - files:
      - whisparr/config.xml
    name: whisparr
