apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
configMapGenerator:
  - files:
      - accounts-ory/Caddyfile
    name: accounts-ory
  - files:
      - kratos/identity.schema.json
      - kratos/kratos.yaml
    name: kratos
  - files:
      - kratos-postgres/postgresql.conf
      - kratos-postgres/pg_hba.conf
    name: kratos-postgres
resources:
  - ../nishir
  - proxyclass.yaml
patches:
  - path: patch-ingress.yaml
