apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - literals:
      - rclone.conf=""
    name: rclone
    namespace: shikanime
images:
  - name: rclone
    newName: docker.io/rclone/rclone
    newTag: 1.69.1
resources:
  - ingress.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: file-manager
      app.kubernetes.io/name: rclone
      app.kubernetes.io/part-of: nishir-operation
      app.kubernetes.io/version: 1.69.1
