apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "whisparr", "tag-regex": "^v(?P<channel>\\d+)-(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)(?:\\.(?P<build>\\d+))?$" }, { "name": "radarr", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" } ]'
images:
  - name: rclone
    newName: docker.io/rclone/rclone
    newTag: 1.71.2
  - name: radarr
    newName: lscr.io/linuxserver/radarr
    newTag: 5.28.0
resources:
  - ingress.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: library-manager
      app.kubernetes.io/name: radarr
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: v5.28.0
