# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Use nix flakes to setup the environment
  use flake . --accept-flake-config --no-pure-eval
fi
