# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Watch nix submodules
  watch_file nix/*
  # Use nix flakes to setup the environment
  use flake . --no-pure-eval --accept-flake-config
fi
