# Direnv
.direnv

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Devenv
.devenv
.pre-commit-config.yaml
