apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitea
  namespace: shikanime
spec:
  rules:
    - host: gitea.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gitea
                port:
                  name: http
  tls:
    - hosts:
        - gitea
