apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "gitea", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" }, { "name": "rclone", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" } ]'
images:
  - name: rclone
    newName: docker.io/rclone/rclone
    newTag: 1.72.0
  - name: gitea
    newName: docker.io/gitea/gitea
    newTag: 1.25.3
labels:
  - pairs:
      app.kubernetes.io/component: version-control-server
      app.kubernetes.io/name: gitea
      app.kubernetes.io/part-of: nishir-platform
      app.kubernetes.io/version: v1.25.3
resources:
  - ingress.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
