apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "alpine", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" }, { "name": "qbittorrent", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$", "exclude-tags": ["20.04.1", "14.3.9"] } ]'
configMapGenerator:
  - name: qbittorrent-scripts
    files:
      - qbittorrent-scripts/qbittorrent-resume.sh
images:
  - name: alpine
    newName: alpine
    newTag: 3.21.2
  - name: qbittorrent
    newName: qbittorrentofficial/qbittorrent-nox
    newTag: 5.1.4-2
labels:
  - pairs:
      app.kubernetes.io/component: torrent-downloader
      app.kubernetes.io/name: qbittorrent
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: v5.1.4
resources:
  - cronjob.yaml
  - ingress.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
secretGenerator:
  - name: qbittorrent
    envs:
      - qbittorrent/.env
