version: 1
formatters:
  json:
    class: synapse.logging.JsonFormatter
  console:
    format: '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
  structured:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
filters:
  context:
    (): synapse.logging.context.LoggingContextFilter
    request: ""
handlers:
  console:
    class: logging.StreamHandler
    formatter: json
    stream: ext://sys.stdout
    filters: [context]
  buffer:
    class: synapse.logging.handlers.PeriodicallyFlushingMemoryHandler
    target: console
    capacity: 100
    flushLevel: 30
    period: 5
loggers:
  synapse.storage.SQL:
    level: WARNING
    propagate: true
  synapse.http:
    level: INFO
    propagate: true
  synapse.federation:
    level: INFO
    propagate: true
  synapse.handlers.auth:
    level: INFO
    propagate: true
  synapse.rest.media:
    level: INFO
    propagate: true
  synapse.appservice:
    level: INFO
    propagate: true
  synapse.util.ratelimitutils:
    level: WARNING
    propagate: true
root:
  level: INFO
  handlers: [buffer]
disable_existing_loggers: false