apiVersion: v1
kind: Namespace
metadata:
  name: node-feature-discovery
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  repo: ${repo}
  chart: ${chart}
  targetNamespace: node-feature-discovery
  version: ${version}
  helmVersion: "v3"
  bootstrap: false
  failurePolicy: abort
