apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: vpa
  namespace: kube-system
spec:
  repo: ${repo}
  chart: ${chart}
  targetNamespace: kube-system
  version: ${version}
  helmVersion: "v3"
  bootstrap: false
  failurePolicy: abort
