apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vaultwarden
  namespace: shikanime
  annotations:
    tailscale.com/proxy-class: nishir-vaultwarden
    tailscale.com/tags: tag:web
spec:
  ingressClassName: tailscale
