apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: whisparr
  namespace: shikanime
spec:
  defaultBackend:
    service:
      name: whisparr
      port:
        name: http
  tls:
    - hosts:
        - whisparr
