apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: whisparr
    newName: ghcr.io/hotio/whisparr
    newTag: v3-3.0.0.680
resources:
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
  app.kubernetes.io/component: library-manager
  app.kubernetes.io/name: whisparr
  app.kubernetes.io/part-of: nishir-media
