apiVersion: apps/v1
kind: Deployment
metadata:
  name: rclone
  namespace: shikanime
spec:
  template:
    spec:
      containers:
        - name: rclone-webdav
          volumeMounts:
            - name: data-sukebe
              mountPath: /data/sukebe
        - name: rclone-ftp
          env:
            - name: RCLONE_PUBLIC_IP
              value: "100.90.227.1"
          volumeMounts:
            - name: data-sukebe
              mountPath: /data/sukebe
      volumes:
        - name: data-sukebe
          persistentVolumeClaim:
            claimName: sukebe-data
