apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "jellyfin", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" }, { "name": "metatube", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" } ]'
images:
  - name: jellyfin
    newName: docker.io/jellyfin/jellyfin
    newTag: 10.11.4
  - name: metatube
    newName: ghcr.io/metatube-community/metatube-server
    newTag: 1.3.2
labels:
  - pairs:
      app.kubernetes.io/component: media-server
      app.kubernetes.io/name: jellyfin
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: v10.11.4
resources:
  - ingress.yaml
  - netpol.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
