apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "caddy", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" }, { "name": "kratos", "tag-regex": "^v(?P<version>\\d+\\.\\d+\\.\\d+)$" }, { "name": "kratos-postgres", "tag-regex": "^(?P<version>\\d+(?:\\.\\d+){0,2})$" }, { "name": "kratos-selfservice-ui-node", "tag-regex": "^v(?P<version>\\d+\\.\\d+\\.\\d+)$" } ]'
images:
  - name: caddy
    newName: docker.io/library/caddy
    newTag: 2.10.2
  - name: kratos
    newName: docker.io/oryd/kratos
    newTag: v25.4.0
  - name: kratos-postgres
    newName: docker.io/library/postgres
    newTag: "18.1"
  - name: kratos-selfservice-ui-node
    newName: docker.io/oryd/kratos-selfservice-ui-node
    newTag: v25.4.0
labels:
  - pairs:
      app.kubernetes.io/component: identity-manager
      app.kubernetes.io/name: kratos
      app.kubernetes.io/part-of: nishir-security
      app.kubernetes.io/version: v25.4.0
resources:
  - deploy.yaml
  - ingress.yaml
  - netpol.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
