apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/longhorn
  - ../../components/node-feature
  - ../../components/tailscale
  - ../../components/tls
resources:
  - ../../base
  - ../../../../apps/copyparty/overlays/nishir-tailnet
