apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: transmission
    newName: lscr.io/linuxserver/transmission
    newTag: 2021.11.18
resources:
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: downloader
      app.kubernetes.io/name: transmission
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: 2021.11.18
