apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime-studio
components:
  - ../../components/tls
patches:
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
