apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/tls
namespace: shikanime-studio
patches:
  - path: patch-ingress.yaml
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
