apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: jellyfin
  namespace: shikanime
spec:
  components:
    - name: jellyfin
      type: ref-objects
      properties:
        objects:
          - resource: statefulset
            group: apps
            name: jellyfin
          - resource: service
            name: jellyfin
          - resource: ingress
            group: networking.k8s.io
            name: jellyfin
          - resource: networkpolicy
            group: networking.k8s.io
            name: jellyfin
          - resource: persistentvolumeclaim
            name: jellyfin-config
          - resource: verticalpodautoscaler
            group: autoscaling.k8s.io
            name: jellyfin
          - resource: certificate
            group: cert-manager.io
            name: jellyfin-tls
    - name: metatube
      type: ref-objects
      properties:
        objects:
          - resource: statefulset
            group: apps
            name: metatube
          - resource: service
            name: metatube
          - resource: networkpolicy
            group: networking.k8s.io
            name: metatube
          - resource: persistentvolumeclaim
            name: metatube-data
          - resource: verticalpodautoscaler
            group: autoscaling.k8s.io
            name: metatube
