apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: shikanime
spec:
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: "macvlan1,macvlan2"
    spec:
      containers:
        - name: jellyfin
          env:
            - name: JELLYFIN_PublishedServerUrl
              value: 100.64.0.0/10=jellyfin.taila659a.ts.net,10.0.0.0/8=jellyfin.taila659a.ts.net,192.168.0.0/16=jellyfin.taila659a.ts.net
          volumeMounts:
            - name: data-sukebe
              mountPath: /data/sukebe
              subPath: Videos
      volumes:
        - name: data-sukebe
          persistentVolumeClaim:
            claimName: sukebe
