apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/dlna
  - ../../components/tls
configurations:
  - namereference.yaml
namespace: shikanime
patches:
  - path: patch-ingress.yaml
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
  - netpol.yaml
secretGenerator:
  - envs:
      - jellyfin/.env
    name: jellyfin-pkcs12-password
  - envs:
      - metatube/.env
    name: metatube
