apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
configurations:
  - namereference.yaml
components:
  - ../../components/tls
  - ../../components/v4l
patches:
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - jellyfin/.env
    name: jellyfin-pkcs12-password
  - envs:
      - metatube/.env
    name: metatube
