apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: vaultwarden
    newName: docker.io/vaultwarden/server
    newTag: 1.33.2
resources:
  - sts.yaml
  - ingress.yaml
  - pvc.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: secret-manager
      app.kubernetes.io/name: vaultwarden
      app.kubernetes.io/part-of: nishir-security
      app.kubernetes.io/version: 1.33.2
