apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
components:
  - ../../components/tls
patches:
  - path: patch-deploy.yaml
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - ./webdav/.env
    name: webdav
