apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime/studio
components:
  - ../../components/tls
resources:
  - ../../base
  - cert.yaml
patches:
  - path: patch-sts.yaml
secretGenerator:
  - name: qbittorrent-scripts
    files:
      - qbittorrent-scripts/qbittorrent-torrent-finished-handler.sh
