apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: qbittorrent
  annotations:
    tailscale.com/proxy-class: qbittorrent
    tailscale.com/tags: tag:web
spec:
  ingressClassName: tailscale
