apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: syncthing
  namespace: shikanime
spec:
  defaultBackend:
    service:
      name: syncthing
      port:
        name: http
  tls:
    - hosts:
        - syncthing
