apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: syncthing
    newName: lscr.io/linuxserver/syncthing
    newTag: 1.29.1
resources:
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
labels:
  - pairs:
      app.kubernetes.io/component: file-synchronizer
      app.kubernetes.io/name: syncthing
      app.kubernetes.io/part-of: nishir-office
      app.kubernetes.io/version: 1.29.1
