apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: ollama
    newName: docker.io/ollama/ollama
    newTag: 0.5.5
resources:
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: model-server
      app.kubernetes.io/name: ollama
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: 0.5.5
