apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
components:
  - ../../components/tls
resources:
  - ../../base
  - cert.yaml
patchesStrategicMerge:
  - patch-sts.yaml
