apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/tls
namespace: shikanime
patches:
  - path: patch-netpol.yaml
  - path: patch-sts.yaml
  - path: patch-ingress.yaml
resources:
  - ../../base
  - cert.yaml
