node-ip:
%{ for ip in node_ip ~}
  - ${ip}
%{ endfor ~}
node-label:
%{ for key, value in node_labels ~}
  - ${key}=${value}
%{ endfor ~}
protect-kernel-defaults: true
server: ${server}
token-file: /etc/rancher/rke2/token
