apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime/studio
components:
  - ../../components/tls
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - vaultwarden/.env
    name: vaultwarden
