apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
components:
  - ../../components/tls
patchesStrategicMerge:
  - patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - vaultwarden/.env
    name: vaultwarden
