apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/tls
namespace: shikanime
patches:
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - vaultwarden/.env
    name: vaultwarden
