apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: metatube
    newName: docker.io/metatube/metatube-server
    newTag: 1.2.8
resources:
  - deployment.yaml
  - pvc.yaml
  - svc.yaml
labels:
  - pairs:
      app.kubernetes.io/component: metadata-server
      app.kubernetes.io/name: metatube
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: 1.2.8
