apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: sonarr
    newName: lscr.io/linuxserver/sonarr
    newTag: 4.0.13
resources:
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml
  - svc.yaml
  - vpa.yaml
labels:
  - pairs:
      app.kubernetes.io/component: library-manager
      app.kubernetes.io/name: sonarr
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: 4.0.13
