apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - files:
      - rclone/rclone.conf
    name: rclone
    namespace: shikanime
resources:
  - netpol.yaml
  - ns.yaml
  - pvc.yaml
