apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime
configMapGenerator:
  - files:
      - mautrix-manager/Caddyfile
    name: mautrix-manager
resources:
  - ../nishir
  - proxyclass.yaml
patches:
  - path: patch-ingress.yaml
