apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: prowlarr
    newName: lscr.io/linuxserver/prowlarr
    newTag: 2.3.0
labels:
  - pairs:
      app.kubernetes.io/component: torrent-tracker
      app.kubernetes.io/name: prowlarr
      app.kubernetes.io/part-of: nishir-media
      app.kubernetes.io/version: v2.3.0
metadata:
  annotations:
    automata.shikanime.studio/images: '[ { "name": "prowlarr", "tag-regex": "^(?P<version>\\d+\\.\\d+\\.\\d+)$" } ]'
resources:
  - ingress.yaml
  - sts.yaml
  - svc.yaml
  - vpa.yaml
