apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shikanime/studio
configurations:
  - namereference.yaml
components:
  - ../../components/tls
resources:
  - ../../base
  - cert.yaml
secretGenerator:
  - envs:
      - prowlarr/.env
    name: prowlarr-pkcs12-password
