:80 {
    redir https://{host}{uri} permanent
}

:443 {
    tls /etc/ssl/private/tls.crt /etc/ssl/private/tls.key

    handle_path /.ory/kratos/public/* {
        reverse_proxy https://kratos:4433
    }
}
