jobs:
  land:
    runs-on: ubuntu-slim
    steps:
    - id: createGithubAppToken
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ vars.OPERATOR_APP_ID }}
        private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ steps.createGithubAppToken.outputs.token }}
    - uses: shikanime-studio/setup-nix-action@v1
      with:
        github-token: ${{ steps.createGithubAppToken.outputs.token }}
    - uses: shikanime-studio/sapling-action@v6
      with:
        github-token: ${{ steps.createGithubAppToken.outputs.token }}
        gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        sign-commits: true
        username: Operator 6O <operator6o@shikanime.studio>
name: Land
'on':
  issue_comment:
    types:
    - created
