jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/stale@v10
        with:
          days-before-close: 14
          days-before-stale: 30
          repo-token: ${{ steps.createGithubAppToken.outputs.token }}
          stale-issue-label: stale
          stale-pr-label: stale
name: Stale
"on":
  schedule:
    - cron: 30 1 * * *
