jobs:
  deploy:
    runs-on: nishir
    steps:
    - id: createGithubAppToken
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ vars.OPERATOR_APP_ID }}
        private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ steps.createGithubAppToken.outputs.token }}
    - uses: shikanime-studio/setup-nix-action@v1
      with:
        github-token: ${{ steps.createGithubAppToken.outputs.token }}
    - run: nix run nixpkgs#skaffold -- run
name: Deploy to Nishir
'on':
  push:
    branches:
    - main
  workflow_dispatch: {}
