jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.user.login == 'yorha-operator-6o[bot]'
        run: gh pr edit "$PR_NUMBER" --add-label dependencies
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        if: startsWith(github.head_ref, 'gh/') && endsWith(github.head_ref, '/head')
        run: gh pr edit "$PR_NUMBER" --add-label ghstack
name: Triage
'on':
  pull_request:
    branches:
      - main
      - gh/*/*/base
    types:
      - opened
      - reopened
