jobs:
  triage:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: cachix/install-nix-action@v31
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
      if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.user.login
        == 'yorha-operator-6o[bot]'
      run: gh pr edit "$PR_NUMBER" --add-label dependencies
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
      if: startsWith(github.head_ref, 'gh/') && endsWith(github.head_ref, '/head')
      run: gh pr edit "$PR_NUMBER" --add-label ghstack
name: Triage
'on':
  pull_request:
    branches:
    - main
    - gh/*/*/base
    types:
    - opened
    - reopened
