"on":
      - completed
  pull_request:
    types:
      - opened
      - synchronize
jobs:
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
        if:
          github.event.pull_request.user.login == 'yorha-operator-6o[bot]' || github.event.pull_request.user.login
          == 'dependabot[bot]'
        run: gh pr edit ${{ github.event.pull_request.number }} --add-label dependencies
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
name: Triage
