name: Update
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: null
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: shikanime-studio/setup-nix-action@v1
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - id: importGPG
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
        run: |
          nix flake update \
            --accept-flake-config
          nix develop --accept-flake-config --impure .#update --command sl \
            config \
            --local commit.gpgsign true \
            --local ghstack.github_username=operator60 \
            --local gpg.key "${{ steps.importGPG.outputs.keyid }}" \
            --local ui.username="Operator 6O <operator60@shikanime.studio>"
          nix develop --accept-flake-config --impure .#update --command sl \
            ci \
            --message "Update Flake"
          nix develop --accept-flake-config --impure .#update --command sl \
            ghstack
