name: Update
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: null
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/nix-installer-action@v20
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: |
          nix flake update
          nix run nixpkgs#sapling -- config \
            --local ui.username "github-actions[bot]" \
            --local ui.email "github-actions[bot]@users.noreply.github.com"
          nix run nixpkgs#sapling -- ci \
            -m "Update Flake"
          nix run nixpkgs#sapling ghstack
