apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/tls
configMapGenerator:
  - name: gitea-config
    files:
      - gitea/app.ini
namespace: shikanime
patches:
  - path: patch-ingress.yaml
  - path: patch-sts.yaml
resources:
  - ../../base
  - cert.yaml
